.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container > li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 0;
}


.container > li a :hover {
    color: rgb(0, 0, 0);
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */

.container01 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container01 > li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size:large;
    text-align: left;
    margin: 0;
}
.container01 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.container01 > li a :hover {
    color: rgb(0, 0, 0);
}
/* On mouse-over, add a grey background color */
.container01:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container01 input:checked ~ .checkmark {
    background-color: #2196f3;
}
/* Create the checkmark/indicator (hidden when not checked) */
/* Show the checkmark when checked */
.container01 input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container01 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(0, 0, 0);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container02 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container02 > li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size:large;
    text-align: left;
}

.container02 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.container02 > li a :hover {
    color: rgb(0, 0, 0);
}
/* On mouse-over, add a grey background color */
.container02:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container02 input:checked ~ .checkmark {
    background-color: #2196f3;
}
/* Create the checkmark/indicator (hidden when not checked) */
/* Show the checkmark when checked */
.container02 input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container02 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container03 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container03 > li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    text-align: left;
    margin: 0;
}
.container03 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.container03 > li a :hover {
    color: rgb(0, 0, 0);
}
/* On mouse-over, add a grey background color */
.container03:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container03 input:checked ~ .checkmark {
    background-color: #2196f3;
}
/* Create the checkmark/indicator (hidden when not checked) */
/* Show the checkmark when checked */
.container03 input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container03 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
   padding: 2px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 225, 255);
  }
  
  li.dropdown {
    display: inside block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: small;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {background-color: #00aeff;}

.dropdown:hover .dropdown-content {
  display: block;
 }
/*creat a custom dropdown*/

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(0, 0, 0);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
